.revix-trustpilot-reviews {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.revix-trustpilot-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.revix-trustpilot-avatar-fallback {
  width: 48px;
  height: 48px;
  background-color: #00b67a;
  color: white;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.revix-trustpilot-author {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.revix-trustpilot-rating {
  color: #ffb400;
}

.revix-trustpilot-date {
  font-size: 12px;
  color: #888;
}

.revix-trustpilot-text {
  font-size: 14px;
  line-height: 1.5;
}
.revix-loader-wrapper {
  text-align: center;
  padding: 20px;
}
.revix-loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #00b67a;
  position: relative;
  display: inline-block;
}
.revix-loader:before,
.revix-loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s revix-spin linear infinite;
}
.revix-loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes revix-spin {
  0%,
  100% {
    box-shadow: 0.2em 0 0 0 currentColor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentColor;
  }
  25% {
    box-shadow: 0 0.2em 0 0 currentColor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentColor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentColor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentColor;
  }
  75% {
    box-shadow: 0 -0.2em 0 0 currentColor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentColor;
  }
}
.revix-trustpilot-single-review {
  background: #fdfdfd;
  border: 2px solid rgba(217, 217, 217, 0.5);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.revix-trustpilot-rating p {
  display: none;
}
.revix-trustpilot-rating img {
  height: 25px;
  display: flex;
  width: auto;
  max-width: 100%;
}
.revix-trustpilot-author-info {
  display: flex;
  gap: 10px;
  align-items: center;
}
.revix-summary-wrapper {
  display: flex;
  gap: 10px;
}
.revix-summary-average img {
  height: 20px;
  display: flex;
  width: auto;
  max-width: 100%;
}
.revix-summary-average {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}
.revix-summary-count {
  font-size: 18px;
}
@media screen and (max-width: 1024px) {
  .revix-trustpilot-reviews {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .revix-trustpilot-reviews {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
